.address {
  font-style: normal;

  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}

.address__list {
  margin-bottom: 10px;
}

.address__item:not(:last-child) {
  margin-bottom: 9px;
}
.address__link {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: text(footer-contact);

  transition: color $animation;

  &:hover,
  &:focus {
    color: $hover-blue;
  }
}

.address__link--color {
  color: text(other-white);
}
