/**
  |============================
  | Menu ( open menu )
  |============================
*/

.btn-menu {
  display: inline-flex;
  margin-left: auto;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 20;
  @media screen and (min-width: 768px) {
    display: none;
  }
}

.btn-menu__icon-set {
  transform-style: preserve-3d;

  transition: transform 300ms $cubic;
  .btn-menu.is-open & {
    transform: rotateY(-180deg);
  }
}

.btn-menu__cross {
  display: none;

  .btn-menu.is-open & {
    display: block;
  }
}

.btn-menu__menu {
  transform: rotateY(0deg);
  .btn-menu.is-open & {
    display: none;
  }
}

/**
  |============================
  |  Main ( open / close / send form )
  |============================
*/

.button-form {
  @extend %btn;

  @media screen and (max-width: 1199px) {
    padding: 10px 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 10px 32px;
    min-width: 216px;
    height: auto;
  }
}

// Send (send form)

.btn-send {
  @extend %btn;
  @include centering-margen();
  padding: 10px 52px;
}

// Close ( close form )

.btn-close {
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: btn(main-white);
  color: icon(close-black);
  cursor: pointer;
  display: block;
  &:hover {
    color: $hover-blue;
  }
  &:active {
    background-color: btn(active-blue);
  }
  transition: color 250ms $cubic, background-color 150ms $cubic;

  @media screen and (max-width: 768px) {
  }

  @media screen and (min-width: 768px) {
    position: absolute;
    top: 8px;
    right: 8px;
  }
}

.btn-close__icon {
  fill: currentColor;
}

/**
  |============================
  |   Subscribe 
  |============================
*/

.btn-subscribe {
  @extend %btn;
  @include centering-flex();
  padding: 10px 28px;
  margin: 0 auto;
}

.btn-subscribe__icon {
  margin-left: 10px;
  fill: currentColor;
}
