.section {
  padding-top: 60px;
  padding-bottom: 60px;
}

.saction--no-padding-top {
  // padding-top: 0;
}


.section--display-none {
  @media (max-width: 1199px) {
    display: none;
  }
}

.section--other-bgd {
  background-color: $team-bgd;
}

.section__title {
  text-align: center;
  // margin-bottom: 50px;
  margin-bottom: 30px;

  font-weight: 900px;
  font-size: 26px;
  line-height: 1.166;
  letter-spacing: 0.03em;
  color: text(titel-black);
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;

  @include mobail-use;
  @include tablet-use;
  @include desktop-use;
}

