.contact {
  @media screen and (max-width: 767px) {
    margin-bottom: 64px;
    display: flex;
    flex-direction: column-reverse;
  }

  @media screen and (min-width: 768px) {
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    @include flex-gap;
  }
}

.contact__item {
  &:last-child {
    @media screen and (max-width: 767px) {
      font-size: 34px;
      line-height: 1.176;
      margin-bottom: 32px;
    }
  }

  &:first-child {
    @media screen and (max-width: 767px) {
      font-size: 24px;
    }
  }

  &:last-child {
    margin-top: 10px;
    @media screen and (min-width: 768px) and (max-width: 1199px) {
      margin-bottom: 10px;
    }
  }
}

.contact__link {
  font-weight: 500;
  line-height: 1.666;
  letter-spacing: 0.02em;
  color: text(main-gray);

  transition: color $animation;

  &:hover,
  &:focus-visible {
    color: $hover-blue;
  }

  @media screen and (min-width: 768px) {
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  @media screen and (min-width: 1200px) {
    font-size: 14px;
  }
}

.contact__link--blue {
  @media screen and (max-width: 767px) {
    color: $hover-blue;
  }
}

.contact__icon {
  margin-right: 10px;
  fill: currentColor;

  @media screen and (max-width: 767px) {
    display: none;
  }
}
