.footer {
  background-color: $bgd-footer;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
    height: 463px;
  }
}

.footer__address-box {
  text-align: center;
  width: 231px;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and(min-width: 1200px) {
    margin-right: 67px;
  }
}

/**
  |============================
  |     Social
  |============================
*/

.footer__social-box {
  margin-bottom: 60px;
  text-align: center;

  @media screen and(max-width:1199px) {
    margin-left: auto;
  }
}

.footer__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: text(other-white);
}

/**
  |============================
  |    Form
  |============================
*/

.footer__form-box {
  text-align: center;
  margin-left: auto;

  @media screen and(max-width: 1199px) {
    width: 450px;
    margin-right: auto;
  }
}
