.logo {
  display: inline-block;

  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  color: logo(header-black);
}
.logo__label {
  color: logo(label);
}

.page-footer__logo {
  display: block;
  margin-bottom: 20px;

  color: logo(footer-white);
  @media screen and (max-width: 1199px) {
    text-align: center;
  }
}
