.network {
  @include centering-flex;
  gap: 10px;
  flex-wrap: wrap;

}

.network__item {
}

.network__link {
  @include centering-flex;
  color: icon(fill-gray);
  width: 44px;
  height: 44px;
  border-radius: 50%;

  transition: color  $animation, background-color $animation;

  &:hover,
  &:focus {
    background-color: $hover-blue;
    color: #fff;
  }
}

.network__link--bgd {
  background-color: icon(bgd-footer-gray);
}

.network__icon {
  fill: currentColor;
}

