.page-footer {
  background-color: $bgd-footer;
  padding-top: 60px;
  padding-bottom: 60px;
}

.page-footer__container {
  @media screen and (min-width: 768px) {
    display: flex;
    align-items: baseline;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-left: 76px;
    padding-right: 89px;
    flex-wrap: wrap;
  }
}

.page-footer__title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: text(other-white);
}

/**
  |============================
  | address
  |============================
*/

.page-footer__address-box {
  width: 231px;

  @media screen and (max-width: 767px) {
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and(min-width: 1200px) {
    margin-right: 67px;
  }
}

/**
  |============================
  |     Social
  |============================
*/

.page-footer__social-box {
  margin-bottom: 60px;

  @media screen and(max-width:1199px) {
    margin-left: auto;
    text-align: center;
  }
}

/**
  |============================
  |    Form
  |============================
*/

.page-footer__form-box {
  margin-left: auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 60px;
    width: 450px;
  }

  @media screen and(max-width: 1199px) {
    margin-right: auto;
    text-align: center;
    align-self: flex-end;
  }
}
