.site-nav {
  display: flex;
  list-style: none;
  gap: 50px;

  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
}

.site-nav__link {
  display: block;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.02em;
  color: text(titel-black);
  text-decoration: none;

  transition: color 250ms $cubic;
  
  &:hover,
  &:focus {
    color: $hover-blue;
  }
}
.current-page {
  position: relative;
}

.current-page::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  position: absolute;
  left: 0;
  top: 45px;

  border-radius: 2px;
  background-color: $hover-blue;
}
