.page-header {
  position: relative;
  background-color: $section-white;
  border-bottom: 1px solid $border-special-color;
  @media screen and (max-width: 767px) {
    height: 60px;
  }

  @media screen and (min-width: 1200px) {
    z-index: 10;
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.page-header__container {
  display: flex;
  align-items: center;

  overflow: hidden;

  @media screen and (max-width: 767px) {
    height: 60px;
  }

  @media screen and (min-width: 768px) {
    height: 80px;
  }
}

.page-header__nav {
  @media screen and (max-width: 767px) {
    margin-bottom: 302px;
  }
}