.main-section {
  max-width: 1600px;
  margin-left: auto;
  margin-right: auto;
  padding: 118px 0;

  text-align: center;
  background-color: $alt-bgd;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    image-set(
      url(../images/main/mobail-bgd@2x.jpg) 2x,
      url(../images/main/mobail-bgd.jpg) 1x
    );

  @media screen and (min-width: 768px) and (max-width: 959px) {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      image-set(
        url(../images/main/tablet-bgd@2x.jpg) 2x,
        url(../images/main/tablet-bgd.jpg) 1x
      );
  }

  @media screen and (min-width: 1200px) {
    padding: 200px 0;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      image-set(
        url(../images/main/desktop-bgd@2x.webp) type(image/webp) 2x,
        url(../images/main/desktop-bgd.webp) type(image/webp) 1x,
        url(../images/main/desktop-bgd@2x.jpg) 2x,
        url(../images/main/desktop-bgd.jpg) 1x
      );
  }
}

.main-section__title {
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 26px;
  line-height: 1.615;
  color: text(other-white);
  letter-spacing: 0.06em;
  text-transform: uppercase;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    width: 360px;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    font-weight: 900;
    font-size: 44px;
    width: 696px;
    height: 120px;
    margin-left: auto;
    margin-right: auto;
  }
}

/**
  |============================
  |  button
  |============================
*/

.button-form {
  @extend %btn;

  @media screen and (min-width: 1200px) {
    min-width: 216px;
  }
}
