.features {
  @media screen and (min-width: 768px) {
    @include flex-gap;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-wrap: wrap;
  }
}

.features__item {
  @media screen and (max-width: 767px) {
    text-align: center;
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 30px) / 2);
  }
}

.features__bgd {
  @include centering-flex;
  border-radius: 4px;
  height: 120px;
  width: 100%;

  margin-bottom: 30px;
  text-align: center;
  background-color: btn(bgd-filter);
}

.features__icon {
}

.features__title {
  margin-bottom: 10px;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: text(titel-black);
}

.features__desc {
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
}
