.client {
  @include flex-gap;
  flex-wrap: wrap;
  justify-content: center;

  list-style: none;
}

.client__item {
  height: 92px;

  @media screen and (max-width: 767px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    flex-basis: calc((100% - 30px * 2) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 30px * 5) / 6);
  }
}

.client__link {
  @include centering-flex;
  width: 100%;
  height: 100%;

  border: 1px solid icon(fill-gray);
  border-radius: 4px;
  color: icon(fill-gray);

  transition: color 250ms $cubic, border-color 250ms $cubic;

  &:hover,
  &:focus {
    border-color: $hover-blue;
    color: $hover-blue;
  }
}
.client__icon {
  fill: currentColor;
}
