.team {
  width: 100%;

  @media screen and (min-width: 768px) {
    @include flex-gap;
    justify-content: center;
    flex-wrap: wrap;

  }
}
.team__item {
  // max-width: 270px;

  max-width: 100%;
  background-color: $card-bgd;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  @media screen and (max-wwidth: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    max-width: calc((100% - 30px) / 2);
  }
}

.team__meta {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.187;
  text-align: center;
  letter-spacing: 0.03em;

  @media screen and (max-width: 767px) {
    padding-top: 30px;
    padding-left: 122px;
    padding-right: 122px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    padding-top: 30px;
    padding-left: 74px;
    padding-right: 74px;
    padding-bottom: 24px;
  }

  @media screen and (min-width: 1200px) {
    padding: 30px 32px;
  }
}

.team__title {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;

  color: text(titel-black);
}

.team__text {
  margin-bottom: 16px;
}
