@mixin border-desc($width: 1px, $type: solid, $color: $border-special-color) {
  border-left: $width $type $color;
  border-bottom: $width $type $color;
  border-right: $width $type $color;
}

@mixin centering-flex($type: flex) {
  display: $type;
  justify-content: center;
  align-items: center;
}

@mixin centering-margen($type: block) {
  display: $type;
  margin: 0 auto;
}

@mixin flex-gap($gap: 30px) {
  display: flex;
  gap: $gap;
}

@mixin mobail-use($width: 480px) {
  @media screen and (min-width: $width) {
    width: $width;
  }
}
@mixin tablet-use($width: 768px) {
  @media screen and (min-width: $width) {
    width: $width;
  }
}
@mixin desktop-use($width: 1200px) {
  @media screen and (min-width: $width) {
    width: $width;
  }
}
